body {
    display: flex; flex-direction: column; justify-content: center;
    align-items: center; text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(24, 62%, 24%);
}
.container {
    display: flex; flex-direction: column; justify-content: center;
    background-color: hsl(27, 52%, 86%);
    color: hsl(36, 100%, 13%);
    font-weight: bold; font-size: 1.8em;
    margin-top: 130px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px hsla(0, 0%, 0%, 0.123);
}
#counter{
    font-size: 2rem;
}
button {
    display: inline-block;
    background-color: #fbeee0;
    border: 2px solid hsl(36, 100%, 13%); border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    font-weight: 600; font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    touch-action: manipulation;
}
button:hover{
    background-color: #ffffff42;
}
button:active{
    transform: scale(0.98);
}
button {
    margin: 5px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}
